[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/asio"]
	path = lib/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "lib/entt"]
	path = lib/entt
	url = https://github.com/skypjack/entt.git
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb.git
[submodule "lib/glslang"]
	path = lib/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "lib/vma"]
	path = lib/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "resources/engine/network/Font-Awesome"]
	path = resources/engine/network/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
