* {
    box-sizing: border-box;
}
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    margin: 0;
    background: linear-gradient(240deg,rgba(85, 85, 85, 1) 0%, rgba(51, 51, 51, 1) 100%);
    touch-action: none;
    width: 100%;
    height: 100%;
    color: white;
}
engine-body {
    display: block;
    height: 100%;
    width: 100%;
    padding: 8px;
}

/*-----------------------------------------------------------------------------------+
| Websocket Disconnect                                                               |
+-----------------------------------------------------------------------------------*/
#websocketjs-disconnect-screen {
    display: none;
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#websocketjs-disconnect-screen i {
    font-size: min(15vh, 15vw);
}
#websocketjs-disconnect-screen h2 {
    font-size: min(10vh, 10vw);
    margin: min(5vw,5vh) 0 0 0;
    text-align: center;
}
#websocketjs-disconnect-screen p {
    font-size: min(5vh, 5vw);
    margin: min(5vw,5vh) 0 0 0;
    text-align: center; 
}


/*-----------------------------------------------------------------------------------+
| Menu                                                                               |
+-----------------------------------------------------------------------------------*/
engine-menu .menu-button {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 32px;
}
engine-menu .menu {
    position: relative;
    z-index: 10000;
}
engine-menu .page {
    opacity: 0;
    background-color: rgba(0,0,0,0.25);
    backdrop-filter: blur(7px);
    visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    transition: visibility allow-discrete 0.15s, opacity 0.15s;

    display: flex;
    align-items: center;
    padding: 50px 0 0 0;
    flex-direction: column;
}
engine-menu .page.displayed {
    opacity: 1;
    visibility: visible;
}
engine-menu .selector-page .page-button {
    font-size: 2rem;
    color: #fff;
    height: auto;
}
engine-menu .selector-page .page-button a {
    margin-right: 20px;
}

/*-----------------------------------------------------------------------------------+
| UI layout                                                                          |
+-----------------------------------------------------------------------------------*/
engine-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    height: 100%;
}
engine-center {
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}


/*-----------------------------------------------------------------------------------+
| Joystick                                                                           |
+-----------------------------------------------------------------------------------*/
engine-joystick {
    width: 100%;
    height: 100%;
}
engine-joystick .outer-circle {
    aspect-ratio: 1/1;
    max-width: 100%;
    max-height: 100%;

    border-radius: 100%;
    background-color: #222;
    display: block;
    position: relative;

    top: 50%;
    transform: translateY(-50%);
}
engine-joystick .joycon-circle {
    width: 25%;
    height: 25%;
    border-radius: 100%;
    position: absolute;
    top: 37.5%;
    left: 37.5%;
    background-color: #555;
}